<html>
<head>
    <title> ToDo App </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap" rel="stylesheet">    <link href="/style.css" rel="stylesheet">
  </head>
<body>
    <div class="container">
    <h2> Todo List </h2>
    </div>

    <form action ="/add" method="POST">
      <input type="text" name="tache" placeholder="ajouter une tache"><button> ajouter</button>
<h2> Tâches à faire  </h2>
<button formaction="/delete type="submit> supprimer</button>
</form>
<h2> Tâches terminés</h2>
</div>

</body>
</html>